<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
{{/*<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;">*/}}
    <title>农商小助手</title>

    <link href="/static/wx/css/layer.css" rel="stylesheet" type="text/css"/>
    <link href="/static/wx/css/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/static/wx/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/wx/js/layer.js"></script>
    <script type="text/javascript" src="/static/wx/js/phone.js"></script>
{{/*<script type="text/javascript" src="/static/wx/js/the_code.js"></script>*/}}

</head>
<body>

<div class="the-code">
    <div class="the-header">
        <div class="the-title">
            <h3>注册成功</h3>
            <h3>收款信息实时推送</h3>
        </div>

    </div>
    <div class="the-content">
        <div class="the-tips">注册成功后，您将享受收款信息实时通知服务</div>
        <form class="the-forms" id="thisForm">
            <input type="text" name="mcht_cd" class="login_ipt error" id="add_phone" value="" placeholder="请输入您的商户号"/>
            <input type="text" class="code error" maxlength="6" id="code" value="" name="code" placeholder="请输入您的验证码"/>
            <input type="button" class="close_tel" id="addSendCode" value="获取验证码" onClick="getVerificationCode()"/>

            <div class="updateBtn">
                <button type="button" onClick="Input()">提交</button>
            </div>
        </form>
    </div>
</div>
<div style="text-align:center;">
</div>
</body>
</html>