<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        后台激活码管理
        <small>查询激活码</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- 页面内容开始 -->
    <div class="row">
        <div class="col-md-12">           
            <form id="searchForm" class="searchForm">
                <div class="box box-solid collapsed-box">
                    <div class="box-header with-border">
                        <input type="text" name="ActivationCode" class="form-control pull-left input-wd-md" placeholder="激活码">
                        <input type="text" name="Activation" class="form-control pull-left input-wd-md" placeholder="激活状态">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
                            <button type="button" class="btn btn-default" id="btnClearSearch"><i class="fa fa-eraser"></i> 清除</button>
                        </div>
						{{if .showMoreQuery }}
                        <div class="box-tools pull-right">
                            <button id="searchpanelbtn" type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                </button>
                        </div>
						{{end}}
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="display: none;">
                        <input type="text" name="BelongName" class="form-control pull-left input-wd-md" placeholder="归属地区">
                    </div>
                    <!-- /.box-body -->
                </div>
            </form>
            <!-- /.searchForm -->
            <div class="box box-solid">
                <div class="box-body">
                    <div class="btn-group" id="toolbar">
                        {{ if .canEdit}}
                        <button class="btn btn-info" href="javascript:;" onclick="EditFun()">
                            <i class="fa fa-plus"></i> 添加</button>   
                        {{end}}  
                        {{ if .canDelete}}                
                        <button class="btn btn-danger table-btn-check-enable" disabled onclick="DeleteFun()">
                                    <i class="fa fa-trash"></i> 删除
                                </button>
                        {{end}}  
                    </div>
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <!-- 页面内容结束 -->
</section>
<!-- /.content -->